{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
<div class="login-container">
  <h1>Mi Gasto</h1>

  <form method="POST">
    {{ form.hidden_tag() }}

    {% if form.errors %}
      <div class="errors">
        {% for error in form.errors %}
          {{ form.errors[error][0] }}
        {% endfor %}
      </div>
    {% endif %}

    {{ form.email.label() }}
    {{ form.email(class='form-control') }}

    {{ form.password.label() }}
    {{ form.password(class='form-control') }}

    <button type="submit" class="btn-login">Iniciar Sesión</button>
  </form>

  <div class="login-footer">
    <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
  </div>
</div>
{% endblock %}
